<html>

<head>
<title>%STORE_NAME%: Addressbook</title>
</head>

<body bgcolor=#FFFFFF>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
<h1>%STORE_NAME%</h1>

<h3>Addressbook Entry</h3>

All fields in <b>boldface</b> text are required.<p>

<b><font color=Red>%ERROR_MESSAGE%</font></b><p>

<form action="address.phtml" method="post">
<input type=hidden name="step" value="1">
<input type=hidden name="id" value="%ID%">
<input type=hidden name="required" value="fname,lname,address1,city,country,phone1">

<img height=1 hspace=0 vspace=4 width=350 border=0 alt=Image align=middle src="img/pixelblack.gif"><br>

<blockquote>

Please choose a 1 or 2 word nickname for this entry.<p>

<table border=0 cellpadding=0 cellspacing=0>

<tr>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                <b>Nickname:</b>
</font></td>
<td width=5></td>
<td height=15>
<input type=text name="description" size=12 maxlength=12 value="%DESCRIPTION%">
</td>
</tr>

</table>

</blockquote>

<p>

<img height=1 hspace=0 vspace=4 width=350 border=0 alt=Image align=middle src="img/pixelblack.gif"><br>

<h4>Shipping Information</h4>

<p>

<blockquote>

The address you provide will be added to your address book under the nickname supplied above.<p>

<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                <b>First Name</b>
</font></td>
<td width=5 rowspan=2></td>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                <b>Last Name</b>
</font></td>

<tr>
<td><input maxlength=14 size=14 type=text name="fname" value="%FNAME%"></td>
<td><input maxlength=20 size=20 type=text name="lname" value="%LNAME%"></td>
</tr>
</table>


<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                <b>Address</b>
</font></td>
</tr>
<tr>
<td><input maxlength=30 size=30 type=text name="address1" value="%ADDRESS1%"></td>
</tr>
<tr>
<td height=2></td>
</tr>
<tr>
<td><input maxlength=30 size=30 type=text name="address2" value="%ADDRESS2%"></td>
</tr>
</table>

<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                <b>City</b>
</font></td>
<td width=5 rowspan=2></td>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                Prov./State
</font></td>
</tr>
<tr>
<td><input maxlength=30 size=30 type=text name="city" value="%CITY%"></td>
<td>
<select name="state"><option value=""> &nbsp;
%LIST_PROVINCES_CODE_SELECT(%STATE%)%
<option value=""> &nbsp;
%LIST_STATES_CODE_SELECT(%STATE%)%
</select>
</td>
</tr>
</table>


<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                <b>Country</b>
</font></td>
</tr>
<tr>
<td>
<select name="country"><option value=""> &nbsp;
<option value="CANADA">CANADA
<option value="UNITED STATES">UNITED STATES
<option value=""> &nbsp;
%LIST_COUNTRIES_SELECT(%COUNTRY%)%
</select>
</td>
</tr>
</table>


<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                Postal/Zip Code (If applicable)
</font></td>
</tr>
<tr>
<td><input maxlength=10 size=10 type=text name="zipcode" value="%ZIPCODE%"></td>
</tr>
</table>


<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td height=15>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                <b>Daytime Phone</b>
</font></td>
<td width=10></td>
<td>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                Evening Phone
</font></td>
</tr>

<tr>
<td><input maxlength=18 size=17 type=text name="phone1" value="%PHONE1%"></td>
<td width=10></td>
<td><input maxlength=18 size=17 type=text name="phone2" value="%PHONE2%"></td>
</tr>
</table> 

<table border=0 cellpadding=0 cellspacing=0>
<tr>
<td height=15 colspan=6>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
                Email Address
</font></td>
<td rowspan=2 width=15></td>
</tr>
<tr>
<td><input maxlength=50 size=38 type=text name="email" value="%EMAIL%"></td>
</tr>
</table>

<p>

<font size=1>Please double-check your email address to be sure you<br>
receive your electronic receipts.</font>

</blockquote>

<p>

<table border=0 width=100% cellpadding=0 cellspacing=0>
<tr><td align=right>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
<input width=86 border=0 height=26 alt=Continue type=image name="Continue" src="img/buttoncontinue.gif">
</font>
</td></tr>
</table>

</form>

<p>

</font>
</body>

</html>

