<html>

<head>
<title>%STORE_NAME%: Registration</title>
</head>

<body bgcolor=#FFFFFF>
<font face="Arial, MS Sans Serif, Helvetica" size=2>
<h1>%STORE_NAME%</h1>

<h3>Registration</h3>

Thank you for registering with %STORE_NAME%!<p>

<ul>
<li><a href="%HTTP_REFERER%">Click here</a> to return to the location you were at before registering.
</ul>

<p>

We respect your right to privacy, and will not disclose or sell information about you or your purchases to any outside organization for solicitation purposes without your consent.

<p>

</font>
</body>

</html>

