<head>

<head>
<title>%STORE_NAME%: Your Order</title>
</head>

<body bgcolor=#ffffff>

<center>
<table border=0 width=80%>
<tr>
<td>
<font face="Arial, MS Sans Serif, Helvetica" size="-1">

<center>
<h1>%STORE_NAME%</h1>
</center>

<h3>Your Order</h3>

<form action="updatebasket.phtml" method="post">
<input type=hidden name="referer" value="%HTTP_REFERER%">

There are currently no items in your order.

<p>
 
<input width=148 height=26 border=0 alt="Continue Shopping" type=image name="shop" src="img/buttoncontinueshopping.gif">

</form>

<b>Cookies on this site:</b> Like most online stores, we place a temporary cookie in the cookie file of your browser to track your shopping basket on our site. The cookie expires whenever your shopping basket is emptied or after a period of 2 hours has passed, erasing itself from your hard drive permanently. If you have your browser set to reject cookies, and you wish to use the shopping features on this site, simply turn that functionality back on when you visit. You can turn it off again as soon as you are finished here, if you like.<p>

<p>

</font>
</td>
</tr>
</table>
</center>

</body>
</html>

